@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
}
#frame {
	width: 100%;
	height: 100%;
	display : flex;
}
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 70%;
    height: 100%;
}
/* #user_map {
	position: absolute;
	right: 0;
	width: 30%;
	height: 100%;
	background-color: #bde0fe;
} */
#info {
display: table;
position: relative;
margin: 0px auto;
word-wrap: anywhere;
white-space: pre-wrap;
border: none;
border-radius: 3px;
font-size: 12px;
text-align: left;
color: #222;
background: #fff;
}